body{
    background-color: aliceblue;
}

header ul{
    list-style: none;
    padding: 0;
}

header ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    margin-right: 50px;
}

.morning{
    color: greenyellow;
}

.afternoon{
    color: yellow;
}

.evening{
    color: orange;
}

.night{
    color: darkred;
}

.name{
    text-decoration: underline;
}


